<div class="card flex justify-content-center">
    <h1> User Registration By Day Wise:</h1>
    <div class="dd-container">
        <h3> Select Year:</h3>
        <p-dropdown [options]="YEARS" class="dropdown" [(ngModel)]="year" (onChange)="getMonthData()"></p-dropdown>
    </div>
    <div class="dd-container">
        <h3> Select Month:</h3>
        <p-dropdown [options]="MONTHS" class="dropdown" [(ngModel)]="month" optionLabel="value" optionValue="key" (onChange)="getMonthData()"></p-dropdown> 
    </div>
</div>


<div class="chart-container">
    <canvas id="canvas">{{chart}}</canvas>
</div>


